/* your custom css */

.websiteContainer {
    padding: 20px;
    flex-grow: 1;
    background-color: white;
    max-width: 935px;
    display: flex;
    flex-direction: column;
    margin: 0px auto 48px;
}

.websiteSplash {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
    border-radius: 4px;
    overflow: hidden;
}

.repoAction {
    display: flex;
}

.repositoriesContainer{
    /* -webkit-box-flex: 1; */
/* flex-grow: 1; */
background-color: white;
max-width: 935px;
display: flex;
flex-direction: row;
margin: 0px auto 48px;
justify-content: center;
justify-items: center;
/* align-items: center; */
flex-wrap: wrap;
/* flex-grow: 1; */
/* flex-basis: 0; */
}
.repositoryContainer {
box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
max-width: 300px;
/* flex-grow: 1; */
/* flex-basis: 0; */
min-width: 300px;
margin: 20px;

}

.repositoryDescription {
    margin: 5px;
    font-size: smaller;
}

.buttonDocs {
    padding: 5px;
}

.customInner {
    -webkit-box-flex: 1;
    flex-grow: 1;
    background-color: white;
    max-width: 935px;
    display: flex;
    flex-direction: column;
    margin: 0px auto 48px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.categoriaSection {
    display: flex;
    flex-flow: column wrap;
    font-size: 125%;
    line-height: 1.6em;
    position: relative;
    z-index: 99;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 400px;
    min-width: 200px;
    margin: 0 5px 5px 5px;
}

.categoriaRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categoriaTitle {
    margin: 0;
    line-height: 1em;
    color: white;
    background-color: #008ed8;
    padding: 5px;
}

.libreriesContainer {
    display: flex;
    flex-direction: column;
}

.library {
    width: 100%;
    border-radius: 0;
}

.repoContainer{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
}

.divRepoTitle {
    flex: 1 0 auto;
    text-align: center;
}

.repoTitle {
    margin-top: 0px;
    padding-left: 8px;
    margin-bottom: 0px;
    /* margin-left: 10px; */
    margin-left: 0;
    /* height: 100%; */
    /* color: red; */
    margin: 0;
    /* height: 51px; */
}

.stars {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    padding: 10px;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: background 0.3s, color 0.3s;
    align-self: flex-start;
    flex: 0 0 auto;
}

.github { 
    background: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    bottom: 20px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    color: #fff;
    cursor: pointer;
    display: block;
    height: 56px;
    opacity: 1;
    outline: 0;
    position: fixed;
    right: 20px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-transition: bottom .2s,opacity .2s;
    -o-transition: bottom .2s,opacity .2s;
    -moz-transition: bottom .2s,opacity .2s;
    transition: bottom .2s,opacity .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 56px;
    z-index: 100;
}

@media only screen and (max-width: 480px) {
    .repositoryContainer {
        margin: 0;
        margin-bottom: 20px;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}